@import url(https://fonts.google.com/specimen/Edu+QLD+Beginner);


.Splash{
  text-align: center;
  height: 40vh;
  background-image: url("https://www.thi.de/fileadmin/_processed_/e/1/csm_Bachelor_Informatik_iStock-1133924836_web_0f749d0983.jpg"); ;
  background-size: cover;
  background-position: center;
  border-bottom: 3px;
}

.Splash .text {
	color: white;
	font-weight: 600;
}

.Splash .primary {
	font-size: 4rem;
	padding-top: 12vh;
    font-family: 'Edu QLD Beginner', cursive;
    color: black;
}
.Splash .secondary {
	font-size: 2rem;
    color: black;
    font-family: 'Edu QLD Beginner', cursive;
}